In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.chdir(r'C:\Users\admin\Desktop\GS') #setting the path

In [3]:
google_stock = pd.read_csv('Goo_stock.csv',index_col = 0) #first column becomes the index column

In [4]:
google_stock.head() #defaulty first five rows

                Open       High        Low      Close  Adj Close    Volume
Date
8/19/2004  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
8/20/2004  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
8/23/2004  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
8/24/2004  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
8/25/2004  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

In [5]:
google_stock = pd.read_csv('Goo_stock.csv')
google_stock.head()

        Date       Open       High        Low      Close  Adj Close    Volume
0  8/19/2004  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1  8/20/2004  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2  8/23/2004  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3  8/24/2004  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4  8/25/2004  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

In [6]:
google_stock.tail() #last five rows

,Date,Open,High,Low,Close,Adj Close,Volume
3308,10/9/2017,980.000000,985.424988,976.109985,977.000000,977.000000,891400
3309,10/10/2017,980.000000,981.570007,966.080017,972.599976,972.599976,968400
3310,10/11/2017,973.719971,990.710022,972.250000,989.250000,989.250000,1693300
3311,10/12/2017,987.450012,994.119995,985.000000,987.830017,987.830017,1262400
3312,10/13/2017,992.000000,997.210022,989.000000,989.679993,989.679993,1157700

In [21]:
samp = google_stock.copy(deep = False) #if we made any changes to the 'samp', original DataFrame also changes

In [7]:
google_stock.index #row index labels

RangeIndex(start=0, stop=3313, step=1)

In [8]:
google_stock.columns #column index labels

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [9]:
google_stock.shape #total no of rows and total no of columns

(3313, 7)

In [10]:
google_stock.size #total no of elements in DataFrame

23191

In [11]:
google_stock.ndim #no of axes, 1 is row and 1 is column

2

In [12]:
google_stock.memory_usage() #memory usage by each column

Index           80
Date         26504
Open         26504
High         26504
Low          26504
Close        26504
Adj Close    26504
Volume       26504
dtype: int64

In [32]:
google_stock.at[4, 'High']

53.651051

In [33]:
google_stock.loc[4, 'High'] # at or loc are same; 4 repesents index so here 5th row

53.651051

In [36]:
google_stock.iat[4, 3]

51.604362

In [38]:
google_stock.iloc[4, 3] # iat or iloc are same

51.604362

In [40]:
google_stock.loc[:,['High']]

            High
0      51.693783
1      54.187561
2      56.373344
3      55.439419
4      53.651051
5      53.626213
6      53.959049
7      52.404160
8      51.519913
9      51.152302
10     50.854240
11     50.541279
12     50.670437
13     51.182110
14     51.023144
15     52.935703
16     53.854729
17     55.638126
18     56.745922
19     57.525848
20     58.365391
21     60.407108
22     59.820923
23     59.448345
24     60.918781
25     61.649033
26     60.049435
27     63.288372
28     67.073753
29     65.722542
...          ...
3283  942.479980
3284  937.000000
3285  930.914978
3286  936.409973
3287  936.989990
3288  938.380005
3289  933.479980
3290  937.250000
3291  932.770020
3292  926.489990
3293  922.080017
3294  922.419983
3295  933.880005
3296  936.530029
3297  934.729980
3298  926.400024
3299  930.820007
3300  949.900024
3301  950.690002
3302  959.786011
3303  962.539978
3304  958.000000
3305  960.390015
3306  970.909973
3307  979.460022
3308  985.424988
3309  981.570007
3310  990.710022
3311  994.119995
3312  997.210022

[3313 rows x 1 columns]

In [56]:
google_stock.loc[:, ['High', 'Low']]

            High         Low
0      51.693783   47.669952
1      54.187561   49.925285
2      56.373344   54.172661
3      55.439419   51.450363
4      53.651051   51.604362
5      53.626213   51.991844
6      53.959049   52.503513
7      52.404160   50.675404
8      51.519913   50.749920
9      51.152302   49.512966
10     50.854240   49.150326
11     50.541279   49.339096
12     50.670437   49.483158
13     51.182110   49.925285
14     51.023144   50.173668
15     52.935703   50.322701
16     53.854729   52.886028
17     55.638126   53.049961
18     56.745922   54.743942
19     57.525848   55.464260
20     58.365391   56.408119
21     60.407108   58.007717
22     59.820923   58.375324
23     59.448345   58.027588
24     60.918781   58.131908
25     61.649033   59.493053
26     60.049435   58.519386
27     63.288372   59.716602
28     67.073753   62.707150
29     65.722542   64.083199
...          ...         ...
3283  942.479980  935.150024
3284  937.000000  921.960022
3285  930.914978  919.270020
3286  936.409973  923.619995
3287  936.989990  924.880005
3288  938.380005  926.919983
3289  933.479980  923.861023
3290  937.250000  929.859985
3291  932.770020  924.000000
3292  926.489990  916.359985
3293  922.080017  910.599976
3294  922.419983  912.549988
3295  933.880005  922.000000
3296  936.530029  923.830017
3297  934.729980  926.479980
3298  926.400024  909.700012
3299  930.820007  921.140015
3300  949.900024  927.739990
3301  950.690002  940.549988
3302  959.786011  951.510010
3303  962.539978  947.840027
3304  958.000000  949.140015
3305  960.390015  950.690002
3306  970.909973  955.179993
3307  979.460022  963.359985
3308  985.424988  976.109985
3309  981.570007  966.080017
3310  990.710022  972.250000
3311  994.119995  985.000000
3312  997.210022  989.000000

[3313 rows x 2 columns]

In [62]:
google_stock.loc[4, ['Close', 'Adj Close']]

Close        52.6575
Adj Close    52.6575
Name: 4, dtype: object

In [48]:
google_stock.values

array([['8/19/2004', 49.676899, 51.693783, ..., 49.845802, 49.845802,
        44994500],
       ['8/20/2004', 50.178635, 54.187560999999995, ..., 53.80505,
        53.80505, 23005800],
       ['8/23/2004', 55.017166, 56.373343999999996, ..., 54.346527,
        54.346527, 18393200],
       ...,
       ['10/11/2017', 973.7199710000001, 990.7100220000001, ..., 989.25,
        989.25, 1693300],
       ['10/12/2017', 987.4500119999999, 994.1199949999999, ...,
        987.830017, 987.830017, 1262400],
       ['10/13/2017', 992.0, 997.2100220000001, ..., 989.679993,
        989.679993, 1157700]], dtype=object)

In [53]:
google_stock['High']

0        51.693783
1        54.187561
2        56.373344
3        55.439419
4        53.651051
5        53.626213
6        53.959049
7        52.404160
8        51.519913
9        51.152302
10       50.854240
11       50.541279
12       50.670437
13       51.182110
14       51.023144
15       52.935703
16       53.854729
17       55.638126
18       56.745922
19       57.525848
20       58.365391
21       60.407108
22       59.820923
23       59.448345
24       60.918781
25       61.649033
26       60.049435
27       63.288372
28       67.073753
29       65.722542
           ...
3283    942.479980
3284    937.000000
3285    930.914978
3286    936.409973
3287    936.989990
3288    938.380005
3289    933.479980
3290    937.250000
3291    932.770020
3292    926.489990
3293    922.080017
3294    922.419983
3295    933.880005
3296    936.530029
3297    934.729980
3298    926.400024
3299    930.820007
3300    949.900024
3301    950.690002
3302    959.786011
3303    962.539978
3304    958.000000
3305    960.390015
3306    970.909973
3307    979.460022
3308    985.424988
3309    981.570007
3310    990.710022
3311    994.119995
3312    997.210022
Name: High, Length: 3313, dtype: float64

In [54]:
google_stock['High'].max()

997.2100220000001

In [63]:
google_stock[['High', 'Close']]

            High       Close
0      51.693783   49.845802
1      54.187561   53.805050
2      56.373344   54.346527
3      55.439419   52.096165
4      53.651051   52.657513
5      53.626213   53.606342
6      53.959049   52.732029
7      52.404160   50.675404
8      51.519913   50.854240
9      51.152302   49.801090
10     50.854240   50.427021
11     50.541279   49.681866
12     50.670437   50.461796
13     51.182110   50.819469
14     51.023144   50.824436
15     52.935703   52.324677
16     53.854729   53.402668
17     55.638126   55.384777
18     56.745922   55.638126
19     57.525848   56.616764
20     58.365391   58.365391
21     60.407108   59.294346
22     59.820923   58.539257
23     59.448345   58.807514
24     60.918781   60.019630
25     61.649033   59.527828
26     60.049435   58.747902
27     63.288372   63.020115
28     67.073753   65.116478
29     65.722542   64.381264
...          ...         ...
3283  942.479980  937.340027
3284  937.000000  928.450012
3285  930.914978  927.809998
3286  936.409973  935.950012
3287  936.989990  926.500000
3288  938.380005  929.080017
3289  933.479980  932.070007
3290  937.250000  935.090027
3291  932.770020  925.109985
3292  926.489990  920.289978
3293  922.080017  915.000000
3294  922.419983  921.809998
3295  933.880005  931.580017
3296  936.530029  932.450012
3297  934.729980  928.530029
3298  926.400024  920.969971
3299  930.820007  924.859985
3300  949.900024  944.489990
3301  950.690002  949.500000
3302  959.786011  959.109985
3303  962.539978  953.270020
3304  958.000000  957.789978
3305  960.390015  951.679993
3306  970.909973  969.960022
3307  979.460022  978.890015
3308  985.424988  977.000000
3309  981.570007  972.599976
3310  990.710022  989.250000
3311  994.119995  987.830017
3312  997.210022  989.679993

[3313 rows x 2 columns]

In [16]:
google_stock.loc[[4,5], ['High']]

        High
4  53.651051
5  53.626213

In [76]:
google_stock.loc[[1,5], ['High', 'Low']]

        High        Low
1  54.187561  49.925285
5  53.626213  51.991844

In [85]:
google_stock.head()

        Date       Open       High        Low      Close  Adj Close    Volume
0  8/19/2004  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1  8/20/2004  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2  8/23/2004  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3  8/24/2004  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4  8/25/2004  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

In [87]:
google_stock.iloc[:25]

         Date       Open       High        Low      Close  Adj Close    Volume
0   8/19/2004  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1   8/20/2004  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2   8/23/2004  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3   8/24/2004  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4   8/25/2004  52.140873  53.651051  51.604362  52.657513  52.657513   9257400
5   8/26/2004  52.135906  53.626213  51.991844  53.606342  53.606342   7148200
6   8/27/2004  53.700729  53.959049  52.503513  52.732029  52.732029   6258300
7   8/30/2004  52.299839  52.404160  50.675404  50.675404  50.675404   5235700
8   8/31/2004  50.819469  51.519913  50.749920  50.854240  50.854240   4954800
9    9/1/2004  51.018177  51.152302  49.512966  49.801090  49.801090   9206800
10   9/2/2004  49.274517  50.854240  49.150326  50.427021  50.427021  15232100
11   9/3/2004  50.148830  50.541279  49.339096  49.681866  49.681866   5191000
12   9/7/2004  50.178635  50.670437  49.483158  50.461796  50.461796   5891300
13   9/8/2004  50.044510  51.182110  49.925285  50.819469  50.819469   5023000
14   9/9/2004  50.933723  51.023144  50.173668  50.824436  50.824436   4092100
15  9/10/2004  50.471729  52.935703  50.322701  52.324677  52.324677   8764200
16  9/13/2004  52.970478  53.854729  52.886028  53.402668  53.402668   7902900
17  9/14/2004  53.377831  55.638126  53.049961  55.384777  55.384777  10910200
18  9/15/2004  54.922779  56.745922  54.743942  55.638126  55.638126  10793500
19  9/16/2004  55.807030  57.525848  55.464260  56.616764  56.616764   9335800
20  9/17/2004  56.840309  58.365391  56.408119  58.365391  58.365391   9543500
21  9/20/2004  58.097134  60.407108  58.007717  59.294346  59.294346  10708500
22  9/21/2004  59.517895  59.820923  58.375324  58.539257  58.539257   7282900
23  9/22/2004  58.320679  59.448345  58.027588  58.807514  58.807514   7638000
24  9/23/2004  59.036026  60.918781  58.131908  60.019630  60.019630   8599600

In [92]:
google_stock.loc[:25, ['High', 'Low']]

         High        Low
0   51.693783  47.669952
1   54.187561  49.925285
2   56.373344  54.172661
3   55.439419  51.450363
4   53.651051  51.604362
5   53.626213  51.991844
6   53.959049  52.503513
7   52.404160  50.675404
8   51.519913  50.749920
9   51.152302  49.512966
10  50.854240  49.150326
11  50.541279  49.339096
12  50.670437  49.483158
13  51.182110  49.925285
14  51.023144  50.173668
15  52.935703  50.322701
16  53.854729  52.886028
17  55.638126  53.049961
18  56.745922  54.743942
19  57.525848  55.464260
20  58.365391  56.408119
21  60.407108  58.007717
22  59.820923  58.375324
23  59.448345  58.027588
24  60.918781  58.131908
25  61.649033  59.493053

In [94]:
google_stock['High'][2]

56.373343999999996

In [96]:
google_stock.loc[2]

Date         8/23/2004
Open           55.0172
High           56.3733
Low            54.1727
Close          54.3465
Adj Close      54.3465
Volume        18393200
Name: 2, dtype: object

###### checking datatypes

In [99]:
google_stock.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [103]:
google_stock.get_dtype_counts()

float64    5
int64      1
object     1
dtype: int64

In [104]:
google_stock.select_dtypes(exclude= object)

            Open        High         Low       Close   Adj Close    Volume
0      49.676899   51.693783   47.669952   49.845802   49.845802  44994500
1      50.178635   54.187561   49.925285   53.805050   53.805050  23005800
2      55.017166   56.373344   54.172661   54.346527   54.346527  18393200
3      55.260582   55.439419   51.450363   52.096165   52.096165  15361800
4      52.140873   53.651051   51.604362   52.657513   52.657513   9257400
5      52.135906   53.626213   51.991844   53.606342   53.606342   7148200
6      53.700729   53.959049   52.503513   52.732029   52.732029   6258300
7      52.299839   52.404160   50.675404   50.675404   50.675404   5235700
8      50.819469   51.519913   50.749920   50.854240   50.854240   4954800
9      51.018177   51.152302   49.512966   49.801090   49.801090   9206800
10     49.274517   50.854240   49.150326   50.427021   50.427021  15232100
11     50.148830   50.541279   49.339096   49.681866   49.681866   5191000
12     50.178635   50.670437   49.483158   50.461796   50.461796   5891300
13     50.044510   51.182110   49.925285   50.819469   50.819469   5023000
14     50.933723   51.023144   50.173668   50.824436   50.824436   4092100
15     50.471729   52.935703   50.322701   52.324677   52.324677   8764200
16     52.970478   53.854729   52.886028   53.402668   53.402668   7902900
17     53.377831   55.638126   53.049961   55.384777   55.384777  10910200
18     54.922779   56.745922   54.743942   55.638126   55.638126  10793500
19     55.807030   57.525848   55.464260   56.616764   56.616764   9335800
20     56.840309   58.365391   56.408119   58.365391   58.365391   9543500
21     58.097134   60.407108   58.007717   59.294346   59.294346  10708500
22     59.517895   59.820923   58.375324   58.539257   58.539257   7282900
23     58.320679   59.448345   58.027588   58.807514   58.807514   7638000
24     59.036026   60.918781   58.131908   60.019630   60.019630   8599600
25     60.079243   61.649033   59.493053   59.527828   59.527828   9191900
26     59.393700   60.049435   58.519386   58.747902   58.747902   7119100
27     60.258080   63.288372   59.716602   63.020115   63.020115  17056100
28     62.940632   67.073753   62.707150   65.116478   65.116478  30745600
29     64.530296   65.722542   64.083199   64.381264   64.381264  13861300
...          ...         ...         ...         ...         ...       ...
3283  941.130005  942.479980  935.150024  937.340027  937.340027    947400
3284  933.080017  937.000000  921.960022  928.450012  928.450012   1326400
3285  930.150024  930.914978  919.270020  927.809998  927.809998   1527700
3286  931.729980  936.409973  923.619995  935.950012  935.950012   1212700
3287  936.489990  936.989990  924.880005  926.500000  926.500000   1011500
3288  934.250000  938.380005  926.919983  929.080017  929.080017   1267000
3289  932.590027  933.479980  923.861023  932.070007  932.070007   1134400
3290  930.659973  937.250000  929.859985  935.090027  935.090027   1102600
3291  931.250000  932.770020  924.000000  925.109985  925.109985   1397600
3292  924.659973  926.489990  916.359985  920.289978  920.289978   2505400
3293  920.010010  922.080017  910.599976  915.000000  915.000000   1306900
3294  917.419983  922.419983  912.549988  921.809998  921.809998    936700
3295  922.979980  933.880005  922.000000  931.580017  931.580017   1669800
3296  933.000000  936.530029  923.830017  932.450012  932.450012   1290600
3297  927.750000  934.729980  926.479980  928.530029  928.530029   1052700
3298  925.450012  926.400024  909.700012  920.969971  920.969971   1856800
3299  923.719971  930.820007  921.140015  924.859985  924.859985   1666900
3300  927.739990  949.900024  927.739990  944.489990  944.489990   2239400
3301  941.359985  950.690002  940.549988  949.500000  949.500000   1020300
3302  952.000000  959.786011  951.510010  959.109985  959.109985   1581000
3303  959.979980  962.539978  947.840027  953.270020  953.270020   1283400
3304  954.000000  958.000000  949.140015  957.789978  957.789978    888300
3305  957.000000  960.390015  950.690002  951.679993  951.679993    952400
3306  955.489990  970.909973  955.179993  969.960022  969.960022   1213800
3307  966.700012  979.460022  963.359985  978.890015  978.890015   1173900
3308  980.000000  985.424988  976.109985  977.000000  977.000000    891400
3309  980.000000  981.570007  966.080017  972.599976  972.599976    968400
3310  973.719971  990.710022  972.250000  989.250000  989.250000   1693300
3311  987.450012  994.119995  985.000000  987.830017  987.830017   1262400
3312  992.000000  997.210022  989.000000  989.679993  989.679993   1157700

[3313 rows x 6 columns]

In [105]:
google_stock.select_dtypes(include= float) #select all columns whose dtype is float

            Open        High         Low       Close   Adj Close
0      49.676899   51.693783   47.669952   49.845802   49.845802
1      50.178635   54.187561   49.925285   53.805050   53.805050
2      55.017166   56.373344   54.172661   54.346527   54.346527
3      55.260582   55.439419   51.450363   52.096165   52.096165
4      52.140873   53.651051   51.604362   52.657513   52.657513
5      52.135906   53.626213   51.991844   53.606342   53.606342
6      53.700729   53.959049   52.503513   52.732029   52.732029
7      52.299839   52.404160   50.675404   50.675404   50.675404
8      50.819469   51.519913   50.749920   50.854240   50.854240
9      51.018177   51.152302   49.512966   49.801090   49.801090
10     49.274517   50.854240   49.150326   50.427021   50.427021
11     50.148830   50.541279   49.339096   49.681866   49.681866
12     50.178635   50.670437   49.483158   50.461796   50.461796
13     50.044510   51.182110   49.925285   50.819469   50.819469
14     50.933723   51.023144   50.173668   50.824436   50.824436
15     50.471729   52.935703   50.322701   52.324677   52.324677
16     52.970478   53.854729   52.886028   53.402668   53.402668
17     53.377831   55.638126   53.049961   55.384777   55.384777
18     54.922779   56.745922   54.743942   55.638126   55.638126
19     55.807030   57.525848   55.464260   56.616764   56.616764
20     56.840309   58.365391   56.408119   58.365391   58.365391
21     58.097134   60.407108   58.007717   59.294346   59.294346
22     59.517895   59.820923   58.375324   58.539257   58.539257
23     58.320679   59.448345   58.027588   58.807514   58.807514
24     59.036026   60.918781   58.131908   60.019630   60.019630
25     60.079243   61.649033   59.493053   59.527828   59.527828
26     59.393700   60.049435   58.519386   58.747902   58.747902
27     60.258080   63.288372   59.716602   63.020115   63.020115
28     62.940632   67.073753   62.707150   65.116478   65.116478
29     64.530296   65.722542   64.083199   64.381264   64.381264
...          ...         ...         ...         ...         ...
3283  941.130005  942.479980  935.150024  937.340027  937.340027
3284  933.080017  937.000000  921.960022  928.450012  928.450012
3285  930.150024  930.914978  919.270020  927.809998  927.809998
3286  931.729980  936.409973  923.619995  935.950012  935.950012
3287  936.489990  936.989990  924.880005  926.500000  926.500000
3288  934.250000  938.380005  926.919983  929.080017  929.080017
3289  932.590027  933.479980  923.861023  932.070007  932.070007
3290  930.659973  937.250000  929.859985  935.090027  935.090027
3291  931.250000  932.770020  924.000000  925.109985  925.109985
3292  924.659973  926.489990  916.359985  920.289978  920.289978
3293  920.010010  922.080017  910.599976  915.000000  915.000000
3294  917.419983  922.419983  912.549988  921.809998  921.809998
3295  922.979980  933.880005  922.000000  931.580017  931.580017
3296  933.000000  936.530029  923.830017  932.450012  932.450012
3297  927.750000  934.729980  926.479980  928.530029  928.530029
3298  925.450012  926.400024  909.700012  920.969971  920.969971
3299  923.719971  930.820007  921.140015  924.859985  924.859985
3300  927.739990  949.900024  927.739990  944.489990  944.489990
3301  941.359985  950.690002  940.549988  949.500000  949.500000
3302  952.000000  959.786011  951.510010  959.109985  959.109985
3303  959.979980  962.539978  947.840027  953.270020  953.270020
3304  954.000000  958.000000  949.140015  957.789978  957.789978
3305  957.000000  960.390015  950.690002  951.679993  951.679993
3306  955.489990  970.909973  955.179993  969.960022  969.960022
3307  966.700012  979.460022  963.359985  978.890015  978.890015
3308  980.000000  985.424988  976.109985  977.000000  977.000000
3309  980.000000  981.570007  966.080017  972.599976  972.599976
3310  973.719971  990.710022  972.250000  989.250000  989.250000
3311  987.450012  994.119995  985.000000  987.830017  987.830017
3312  992.000000  997.210022  989.000000  989.679993  989.679993

[3313 rows x 5 columns]

In [106]:
google_stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3313 entries, 0 to 3312
Data columns (total 7 columns):
Date         3313 non-null object
Open         3313 non-null float64
High         3313 non-null float64
Low          3313 non-null float64
Close        3313 non-null float64
Adj Close    3313 non-null float64
Volume       3313 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 181.3+ KB

unique elements of each column

In [109]:
np.unique(google_stock['Date'])

array(['1/10/2005', '1/10/2006', '1/10/2007', ..., '9/9/2014', '9/9/2015',
       '9/9/2016'], dtype=object)

astype

In [113]:
google_stock['High'] = google_stock['High'].astype('object')

In [120]:
google_stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3313 entries, 0 to 3312
Data columns (total 7 columns):
Date         3313 non-null object
Open         3313 non-null float64
High         3313 non-null object
Low          3313 non-null float64
Close        3313 non-null float64
Adj Close    3313 non-null float64
Volume       3313 non-null int64
dtypes: float64(4), int64(1), object(2)
memory usage: 181.3+ KB

In [116]:
google_stock['Low'].nbytes

26504

In [124]:
google_stock['High'] = google_stock['High'].astype('category')

In [128]:
google_stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3313 entries, 0 to 3312
Data columns (total 7 columns):
Date         3313 non-null object
Open         3313 non-null float64
High         3313 non-null category
Low          3313 non-null float64
Close        3313 non-null float64
Adj Close    3313 non-null float64
Volume       3313 non-null int64
dtypes: category(1), float64(4), int64(1), object(1)
memory usage: 346.8+ KB

In [129]:
google_stock['High'].nbytes

32170

In [131]:
google_stock.drop(['High'], axis=1)

            Date        Open         Low       Close   Adj Close    Volume
0      8/19/2004   49.676899   47.669952   49.845802   49.845802  44994500
1      8/20/2004   50.178635   49.925285   53.805050   53.805050  23005800
2      8/23/2004   55.017166   54.172661   54.346527   54.346527  18393200
3      8/24/2004   55.260582   51.450363   52.096165   52.096165  15361800
4      8/25/2004   52.140873   51.604362   52.657513   52.657513   9257400
5      8/26/2004   52.135906   51.991844   53.606342   53.606342   7148200
6      8/27/2004   53.700729   52.503513   52.732029   52.732029   6258300
7      8/30/2004   52.299839   50.675404   50.675404   50.675404   5235700
8      8/31/2004   50.819469   50.749920   50.854240   50.854240   4954800
9       9/1/2004   51.018177   49.512966   49.801090   49.801090   9206800
10      9/2/2004   49.274517   49.150326   50.427021   50.427021  15232100
11      9/3/2004   50.148830   49.339096   49.681866   49.681866   5191000
12      9/7/2004   50.178635   49.483158   50.461796   50.461796   5891300
13      9/8/2004   50.044510   49.925285   50.819469   50.819469   5023000
14      9/9/2004   50.933723   50.173668   50.824436   50.824436   4092100
15     9/10/2004   50.471729   50.322701   52.324677   52.324677   8764200
16     9/13/2004   52.970478   52.886028   53.402668   53.402668   7902900
17     9/14/2004   53.377831   53.049961   55.384777   55.384777  10910200
18     9/15/2004   54.922779   54.743942   55.638126   55.638126  10793500
19     9/16/2004   55.807030   55.464260   56.616764   56.616764   9335800
20     9/17/2004   56.840309   56.408119   58.365391   58.365391   9543500
21     9/20/2004   58.097134   58.007717   59.294346   59.294346  10708500
22     9/21/2004   59.517895   58.375324   58.539257   58.539257   7282900
23     9/22/2004   58.320679   58.027588   58.807514   58.807514   7638000
24     9/23/2004   59.036026   58.131908   60.019630   60.019630   8599600
25     9/24/2004   60.079243   59.493053   59.527828   59.527828   9191900
26     9/27/2004   59.393700   58.519386   58.747902   58.747902   7119100
27     9/28/2004   60.258080   59.716602   63.020115   63.020115  17056100
28     9/29/2004   62.940632   62.707150   65.116478   65.116478  30745600
29     9/30/2004   64.530296   64.083199   64.381264   64.381264  13861300
...          ...         ...         ...         ...         ...       ...
3283    9/1/2017  941.130005  935.150024  937.340027  937.340027    947400
3284    9/5/2017  933.080017  921.960022  928.450012  928.450012   1326400
3285    9/6/2017  930.150024  919.270020  927.809998  927.809998   1527700
3286    9/7/2017  931.729980  923.619995  935.950012  935.950012   1212700
3287    9/8/2017  936.489990  924.880005  926.500000  926.500000   1011500
3288   9/11/2017  934.250000  926.919983  929.080017  929.080017   1267000
3289   9/12/2017  932.590027  923.861023  932.070007  932.070007   1134400
3290   9/13/2017  930.659973  929.859985  935.090027  935.090027   1102600
3291   9/14/2017  931.250000  924.000000  925.109985  925.109985   1397600
3292   9/15/2017  924.659973  916.359985  920.289978  920.289978   2505400
3293   9/18/2017  920.010010  910.599976  915.000000  915.000000   1306900
3294   9/19/2017  917.419983  912.549988  921.809998  921.809998    936700
3295   9/20/2017  922.979980  922.000000  931.580017  931.580017   1669800
3296   9/21/2017  933.000000  923.830017  932.450012  932.450012   1290600
3297   9/22/2017  927.750000  926.479980  928.530029  928.530029   1052700
3298   9/25/2017  925.450012  909.700012  920.969971  920.969971   1856800
3299   9/26/2017  923.719971  921.140015  924.859985  924.859985   1666900
3300   9/27/2017  927.739990  927.739990  944.489990  944.489990   2239400
3301   9/28/2017  941.359985  940.549988  949.500000  949.500000   1020300
3302   9/29/2017  952.000000  951.510010  959.109985  959.109985   1581000
3303   10/2/2017  959.979980  947.840027  953.270020  953.270020   1283400
3304   10/3/2017  954.000000  949.140015  957.789978  957.789978    888300
3305   10/4/2017  957.000000  950.690002  951.679993  951.679993    952400
3306   10/5/2017  955.489990  955.179993  969.960022  969.960022   1213800
3307   10/6/2017  966.700012  963.359985  978.890015  978.890015   1173900
3308   10/9/2017  980.000000  976.109985  977.000000  977.000000    891400
3309  10/10/2017  980.000000  966.080017  972.599976  972.599976    968400
3310  10/11/2017  973.719971  972.250000  989.250000  989.250000   1693300
3311  10/12/2017  987.450012  985.000000  987.830017  987.830017   1262400
3312  10/13/2017  992.000000  989.000000  989.679993  989.679993   1157700

[3313 rows x 6 columns]

In [133]:
google_stock.drop([4], axis=0)

,Date,Open,High,Low,Close,Adj Close,Volume
0,8/19/2004,49.676899,51.693783,47.669952,49.845802,49.845802,44994500
1,8/20/2004,50.178635,54.187561,49.925285,53.805050,53.805050,23005800
2,8/23/2004,55.017166,56.373344,54.172661,54.346527,54.346527,18393200
3,8/24/2004,55.260582,55.439419,51.450363,52.096165,52.096165,15361800
5,8/26/2004,52.135906,53.626213,51.991844,53.606342,53.606342,7148200
6,8/27/2004,53.700729,53.959049,52.503513,52.732029,52.732029,6258300
7,8/30/2004,52.299839,52.404160,50.675404,50.675404,50.675404,5235700
8,8/31/2004,50.819469,51.519913,50.749920,50.854240,50.854240,4954800
9,9/1/2004,51.018177,51.152302,49.512966,49.801090,49.801090,9206800
10,9/2/2004,49.274517,50.854240,49.150326,50.427021,50.427021,15232100
11,9/3/2004,50.148830,50.541279,49.339096,49.681866,49.681866,5191000
12,9/7/2004,50.178635,50.670437,49.483158,50.461796,50.461796,5891300
13,9/8/2004,50.044510,51.182110,49.925285,50.819469,50.819469,5023000
14,9/9/2004,50.933723,51.023144,50.173668,50.824436,50.824436,4092100
15,9/10/2004,50.471729,52.935703,50.322701,52.324677,52.324677,8764200
16,9/13/2004,52.970478,53.854729,52.886028,53.402668,53.402668,7902900
17,9/14/2004,53.377831,55.638126,53.049961,55.384777,55.384777,10910200
18,9/15/2004,54.922779,56.745922,54.743942,55.638126,55.638126,10793500
19,9/16/2004,55.807030,57.525848,55.464260,56.616764,56.616764,9335800
20,9/17/2004,56.840309,58.365391,56.408119,58.365391,58.365391,9543500
21,9/20/2004,58.097134,60.407108,58.007717,59.294346,59.294346,10708500
22,9/21/2004,59.517895,59.820923,58.375324,58.539257,58.539257,7282900
23,9/22/2004,58.320679,59.448345,58.027588,58.807514,58.807514,7638000
24,9/23/2004,59.036026,60.918781,58.131908,60.019630,60.019630,8599600
25,9/24/2004,60.079243,61.649033,59.493053,59.527828,59.527828,9191900
26,9/27/2004,59.393700,60.049435,58.519386,58.747902,58.747902,7119100
27,9/28/2004,60.258080,63.288372,59.716602,63.020115,63.020115,17056100
28,9/29/2004,62.940632,67.073753,62.707150,65.116478,65.116478,30745600
29,9/30/2004,64.530296,65.722542,64.083199,64.381264,64.381264,13861300
30,10/1/2004,64.977386,66.686272,64.033524,65.861633,65.861633,15238400
...,...,...,...,...,...,...,...
3283,9/1/2017,941.130005,942.479980,935.150024,937.340027,937.340027,947400
3284,9/5/2017,933.080017,937.000000,921.960022,928.450012,928.450012,1326400
3285,9/6/2017,930.150024,930.914978,919.270020,927.809998,927.809998,1527700
3286,9/7/2017,931.729980,936.409973,923.619995,935.950012,935.950012,1212700
3287,9/8/2017,936.489990,936.989990,924.880005,926.500000,926.500000,1011500
3288,9/11/2017,934.250000,938.380005,926.919983,929.080017,929.080017,1267000
3289,9/12/2017,932.590027,933.479980,923.861023,932.070007,932.070007,1134400
3290,9/13/2017,930.659973,937.250000,929.859985,935.090027,935.090027,1102600
3291,9/14/2017,931.250000,932.770020,924.000000,925.109985,925.109985,1397600
3292,9/15/2017,924.659973,926.489990,916.359985,920.289978,920.289978,2505400
3293,9/18/2017,920.010010,922.080017,910.599976,915.000000,915.000000,1306900
3294,9/19/2017,917.419983,922.419983,912.549988,921.809998,921.809998,936700
3295,9/20/2017,922.979980,933.880005,922.000000,931.580017,931.580017,1669800
3296,9/21/2017,933.000000,936.530029,923.830017,932.450012,932.450012,1290600
3297,9/22/2017,927.750000,934.729980,926.479980,928.530029,928.530029,1052700
3298,9/25/2017,925.450012,926.400024,909.700012,920.969971,920.969971,1856800
3299,9/26/2017,923.719971,930.820007,921.140015,924.859985,924.859985,1666900
3300,9/27/2017,927.739990,949.900024,927.739990,944.489990,944.489990,2239400
3301,9/28/2017,941.359985,950.690002,940.549988,949.500000,949.500000,1020300
3302,9/29/2017,952.000000,959.786011,951.510010,959.109985,959.109985,1581000
3303,10/2/2017,959.979980,962.539978,947.840027,953.270020,953.270020,1283400
3304,10/3/2017,954.000000,958.000000,949.140015,957.789978,957.789978,888300
3305,10/4/2017,957.000000,960.390015,950.690002,951.679993,951.679993,952400
3306,10/5/2017,955.489990,970.909973,955.179993,969.960022,969.960022,1213800
3307,10/6/2017,966.700012,979.460022,963.359985,978.890015,978.890015,1173900
3308,10/9/2017,980.000000,985.424988,976.109985,977.000000,977.000000,891400
3309,10/10/2017,980.000000,981.570007,966.080017,972.599976,972.599976,968400
3310,10/11/2017,973.719971,990.710022,972.250000,989.250000,989.250000,1693300
3311,10/12/2017,987.450012,994.119995,985.000000,987.830017,987.830017,1262400
3312,10/13/2017,992.000000,997.210022,989.000000,989.679993,989.679993,1157700

In [134]:
google_stock.count() #non NaN values of each column

Date         3313
Open         3313
High         3313
Low          3313
Close        3313
Adj Close    3313
Volume       3313
dtype: int64

In [138]:
google_stock

,Date,Open,High,Low,Close,Adj Close,Volume
0,8/19/2004,49.676899,51.693783,47.669952,49.845802,49.845802,44994500
1,8/20/2004,50.178635,54.187561,49.925285,53.805050,53.805050,23005800
2,8/23/2004,55.017166,56.373344,54.172661,54.346527,54.346527,18393200
3,8/24/2004,55.260582,55.439419,51.450363,52.096165,52.096165,15361800
4,8/25/2004,52.140873,53.651051,51.604362,52.657513,52.657513,9257400
5,8/26/2004,52.135906,53.626213,51.991844,53.606342,53.606342,7148200
6,8/27/2004,53.700729,53.959049,52.503513,52.732029,52.732029,6258300
7,8/30/2004,52.299839,52.404160,50.675404,50.675404,50.675404,5235700
8,8/31/2004,50.819469,51.519913,50.749920,50.854240,50.854240,4954800
9,9/1/2004,51.018177,51.152302,49.512966,49.801090,49.801090,9206800
10,9/2/2004,49.274517,50.854240,49.150326,50.427021,50.427021,15232100
11,9/3/2004,50.148830,50.541279,49.339096,49.681866,49.681866,5191000
12,9/7/2004,50.178635,50.670437,49.483158,50.461796,50.461796,5891300
13,9/8/2004,50.044510,51.182110,49.925285,50.819469,50.819469,5023000
14,9/9/2004,50.933723,51.023144,50.173668,50.824436,50.824436,4092100
15,9/10/2004,50.471729,52.935703,50.322701,52.324677,52.324677,8764200
16,9/13/2004,52.970478,53.854729,52.886028,53.402668,53.402668,7902900
17,9/14/2004,53.377831,55.638126,53.049961,55.384777,55.384777,10910200
18,9/15/2004,54.922779,56.745922,54.743942,55.638126,55.638126,10793500
19,9/16/2004,55.807030,57.525848,55.464260,56.616764,56.616764,9335800
20,9/17/2004,56.840309,58.365391,56.408119,58.365391,58.365391,9543500
21,9/20/2004,58.097134,60.407108,58.007717,59.294346,59.294346,10708500
22,9/21/2004,59.517895,59.820923,58.375324,58.539257,58.539257,7282900
23,9/22/2004,58.320679,59.448345,58.027588,58.807514,58.807514,7638000
24,9/23/2004,59.036026,60.918781,58.131908,60.019630,60.019630,8599600
25,9/24/2004,60.079243,61.649033,59.493053,59.527828,59.527828,9191900
26,9/27/2004,59.393700,60.049435,58.519386,58.747902,58.747902,7119100
27,9/28/2004,60.258080,63.288372,59.716602,63.020115,63.020115,17056100
28,9/29/2004,62.940632,67.073753,62.707150,65.116478,65.116478,30745600
29,9/30/2004,64.530296,65.722542,64.083199,64.381264,64.381264,13861300
...,...,...,...,...,...,...,...
3283,9/1/2017,941.130005,942.479980,935.150024,937.340027,937.340027,947400
3284,9/5/2017,933.080017,937.000000,921.960022,928.450012,928.450012,1326400
3285,9/6/2017,930.150024,930.914978,919.270020,927.809998,927.809998,1527700
3286,9/7/2017,931.729980,936.409973,923.619995,935.950012,935.950012,1212700
3287,9/8/2017,936.489990,936.989990,924.880005,926.500000,926.500000,1011500
3288,9/11/2017,934.250000,938.380005,926.919983,929.080017,929.080017,1267000
3289,9/12/2017,932.590027,933.479980,923.861023,932.070007,932.070007,1134400
3290,9/13/2017,930.659973,937.250000,929.859985,935.090027,935.090027,1102600
3291,9/14/2017,931.250000,932.770020,924.000000,925.109985,925.109985,1397600
3292,9/15/2017,924.659973,926.489990,916.359985,920.289978,920.289978,2505400
3293,9/18/2017,920.010010,922.080017,910.599976,915.000000,915.000000,1306900
3294,9/19/2017,917.419983,922.419983,912.549988,921.809998,921.809998,936700
3295,9/20/2017,922.979980,933.880005,922.000000,931.580017,931.580017,1669800
3296,9/21/2017,933.000000,936.530029,923.830017,932.450012,932.450012,1290600
3297,9/22/2017,927.750000,934.729980,926.479980,928.530029,928.530029,1052700
3298,9/25/2017,925.450012,926.400024,909.700012,920.969971,920.969971,1856800
3299,9/26/2017,923.719971,930.820007,921.140015,924.859985,924.859985,1666900
3300,9/27/2017,927.739990,949.900024,927.739990,944.489990,944.489990,2239400
3301,9/28/2017,941.359985,950.690002,940.549988,949.500000,949.500000,1020300
3302,9/29/2017,952.000000,959.786011,951.510010,959.109985,959.109985,1581000
3303,10/2/2017,959.979980,962.539978,947.840027,953.270020,953.270020,1283400
3304,10/3/2017,954.000000,958.000000,949.140015,957.789978,957.789978,888300
3305,10/4/2017,957.000000,960.390015,950.690002,951.679993,951.679993,952400
3306,10/5/2017,955.489990,970.909973,955.179993,969.960022,969.960022,1213800
3307,10/6/2017,966.700012,979.460022,963.359985,978.890015,978.890015,1173900
3308,10/9/2017,980.000000,985.424988,976.109985,977.000000,977.000000,891400
3309,10/10/2017,980.000000,981.570007,966.080017,972.599976,972.599976,968400
3310,10/11/2017,973.719971,990.710022,972.250000,989.250000,989.250000,1693300
3311,10/12/2017,987.450012,994.119995,985.000000,987.830017,987.830017,1262400
3312,10/13/2017,992.000000,997.210022,989.000000,989.679993,989.679993,1157700

In [139]:
google_stock.describe()

              Open          Low        Close    Adj Close        Volume
count  3313.000000  3313.000000  3313.000000  3313.000000  3.313000e+03
mean    380.186092   376.519309   380.072458   380.072458  8.038476e+06
std     223.818650   222.473232   223.853780   223.853780  8.399521e+06
min      49.274517    47.669952    49.681866    49.681866  7.900000e+03
25%     226.556473   224.003082   226.407440   226.407440  2.584900e+06
50%     293.312286   289.929291   293.029114   293.029114  5.281300e+06
75%     536.650024   532.409973   536.690002   536.690002  1.065370e+07
max     992.000000   989.000000   989.679993   989.679993  8.276810e+07